button {
	width: auto;
}

button:focus,
button:hover {
	background: #ae3209;
	border: 0;
	color: #fff;
}

input[type="file"],
input[type="checkbox"] {
    height: auto;
    margin-right: 0.5rem;
	cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}

#doc {
    display: block;
	margin: 1.25rem 0;
	border:none;
	padding: 1rem 0;
	width:100%;
	max-width: 18rem;
}