button {
	background: #d93f0c;
	border: 0;
	border-radius: 6px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font: 700 1.125rem/1.08 myriad-pro, sans-serif;
	outline: 0;	
	padding: 1.1rem 2.5rem;
	text-align: center;
	text-decoration: none;
	white-space: normal;
}

button:focus,
button:hover {
	background: #ae3209;
	border: 0;
	color: #fff;
}

input[type="file"],
input[type="checkbox"] {
    height: auto;
    margin-right: 0.5rem;
    cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}

.copy-size-large{
    font-size: 1.25rem;
}

.copy-size-medium{
    font-size: 1.06rem;
}

.copy-size-small{
    font-size: 1rem;
}

.text-error-vs {
	color: #981b1e;
}

#doc {
    display: block;
    margin: 1.25rem 0;
}

